@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
 
<p>hello this is a change in the app</p>
 
<p>hello this is a change in the app</p>

<p> another sentense in the file </p>